php_flag register_globals off
php_flag safe_mode on
Options -Indexes -MultiViews
php_value error_reporting 3
php_flag display_errors on

RewriteEngine On

#AuthBasicAuthoritative Off
#Auth_MySQL_Authoritative Off

# URLs can have trailing slash
# add trailing slashes to everything but resource folders (images/ css/ js/)  and search result (search/)
#RewriteCond $0 !^(images/|images$|css/|css$|js/|js|search$)
#RewriteRule ^[^\.]+[^/]$ /$0/ [R=301,L]

DirectoryIndex index.html index.php
