/* Media Queries */

@media all and (min-width: 17em){ /* 17em / 272px */
  .video-block {
    float: none;
    margin: 0 auto 30px auto;
  }
  .photo-block, .dvd-block, .mag-block, .cat-block {
    float: none;
    margin: 0 auto 30px auto;
  }
  .site-block {
    float: none;
    width: 100%;
  }
  .site-block .site-name, .site-block .site-update {
    margin: 0 auto;
  }
  .gallery li {
    width: 100%;
  }
}

@media all and (min-width: 34em){ /* 34em / 544px */
  .video-block, .video-block:nth-of-type(n) {
    float: left;
    margin: 0 10px 30px 0;
  }
  .video-block:nth-of-type(2n), .photo-block:nth-of-type(2n), .model-block:nth-of-type(2n)  {
    margin-right: 0;
  }
  .photo-block {
    float: left;
    margin: 0 45px 30px 0;
  }
  .dvd-block:nth-of-type(n), .cat-block:nth-of-type(n)  {
    float: left;
    margin: 0 30px 30px 0;
  }
  .mag-block:nth-of-type(n) {
    float: left;
    margin: 0 45px 30px 0;
  }
  .site-block {
    width: 49%;
    float: left;
  }
  .site-block .site-name {
    min-height:200px;
  }
  .gallery li {
    width: 50%;
  }
  .custom-slider .ui-btn .ui-btn-text {
    font-size: 30px;
  }
  #splash-explore, #splash-site, #splash-search, #splash-mag {
    font-size: 20px;
  }
}

@media all and (min-width: 47em){ /* 47em / 752px */
  .video-block, .video-block:nth-of-type(n) {
    margin: 0 6px 30px 0;
  }
  .photo-block:nth-of-type(n), .model-block:nth-of-type(n) {
    margin: 0 45px 30px 0;
  }
  .video-block:nth-of-type(3n), .photo-block:nth-of-type(3n), .model-block:nth-of-type(3n) {
    margin-right: 0;
  }
  .dvd-block:nth-of-type(n) {
    margin: 0 30px 30px 0;
  }
  .cat-block:nth-of-type(n) {
    margin: 0 28px 30px 0;
  }
  .dvd-block:nth-of-type(4n), .cat-block:nth-of-type(4n) {
    margin-right: 0;
  }
  .mag-block:nth-of-type(n) {
    margin: 0 45px 30px 0;
  }
  .mag-block:nth-of-type(3n) {
    margin-right: 0;
  }
  .gallery li {
    width: 33.3333333%;
  }
  /*Tour Page Only*/
  .custom-slider img {
    width: auto;
    float:right;
  }
  .custom-slider .slide-content { 
    padding: 2%;
  }
  .custom-slider h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  .custom-slider .ui-btn .ui-btn-text {
    font-size: 38px;
  }
  #splash-explore, #splash-site, #splash-search, #splash-mag {
    font-size: 20px;
  }
}

@media all and (min-width: 56em){ /* 64em / 1024px */
 .custom-slider .ui-btn .ui-btn-text {
    font-size: 42px;
  }
 
}

@media all and (min-width: 64em){ /* 64em / 1024px */
  .video-block, .video-block:nth-of-type(n) {
    margin: 0 8px 30px 0;
  }
  .photo-block:nth-of-type(n), .model-block:nth-of-type(n) {
    margin: 0 45px 30px 0;
  }
  .video-block:nth-of-type(4n), .photo-block:nth-of-type(4n), .model-block:nth-of-type(4n) {
    margin-right: 0;
  }
  .dvd-block:nth-of-type(n) {
    margin: 0 45px 30px 0;
  }
  .cat-block:nth-of-type(n) {
    margin: 0 40px 30px 0;
  }
  .dvd-block:nth-of-type(5n), .cat-block:nth-of-type(5n) {
    margin-right: 0;
  }
  .mag-block:nth-of-type(n) {
    margin: 0 45px 30px 0;
  }
  .mag-block:nth-of-type(4n) {
    margin-right: 0;
  }
  .site-block .site-name {
    float: left;
  }
  .site-block .site-update {
    float: right;
  }
  .gallery li {
    width: 25%;
  }
  /*Tour Page Only*/
  .custom-slider img {
    width:725px;
  }
  .custom-slider .ui-btn .ui-btn-text {
    font-size: 54px;
  }
  #splash-explore, #splash-site, #splash-search, #splash-mag {
    font-size: 22px;
  }
}

@media all and (min-width: 65em){ /* 65em / 1040px */
  .video-block, .video-block:nth-of-type(n) {
    margin: 0 25px 30px 0;
  }
  .photo-block:nth-of-type(n), .model-block:nth-of-type(n)  {
    margin: 0 45px 30px 0;
  }
  .dvd-block:nth-of-type(n), .mag-block:nth-of-type(n) {
    margin: 0 45px 30px 0;
  }
  .cat-block:nth-of-type(n) {
    margin: 0 40px 30px 0;
  }
  .site-block { 
    max-width: 492px; 
  }
  /*Tour Page Only*/
  .custom-slider img {
    max-width:100%;
  }
  .custom-slider h1 {
    font-size: 42px;
    line-height: 1.1;
  }
  .custom-slider .ui-btn .ui-btn-text {
    font-size: 56px;
  }
  #splash-explore, #splash-site, #splash-search, #splash-mag {
    font-size: 22px;
  }
}
